<!DOCTYPE html>
<html>
<body>

<p><b>Classify a dog</b></p>
<form action="" method="post" enctype="multipart/form-data">
  <label for="fname">Choose image:</label>
    <input type="file" name="file">
  
  <p><input type="submit" name="action" value="Classify"></p>

<p><b>Enroll a new dog breed</b></p>
<form action="" method="post" enctype="multipart/form-data">
  <label for="fname">Dog breed name:</label>
    <input type="text" id="fname" name="fname"><br><br>
  
  <label for="fname">Chosse dog breed images:</label>
      <input type="file" name="files" multiple>

  <p><input type="submit" name="action" value="Enroll"></p>

</body>
</html>